.drawer{
    // width: 277px;
    height: 84px;
    // opacity: 0.1;
    background-color: #F7F7F7;
    line-height: 0.5px;
    text-align: left;
    padding: 15px 0 0 35.5px;
    .hello{
        font-size: 13px;
        color: #f7000d;
        span{
            font-size: 14px;
            font-weight: bold;
        }
    }
    .cmnd{
        color: #5d5d5d;
        font-style: italic;
        font-size: 13px;
        span{
            width: 24px;
            height: 24px;
            object-fit: contain;
            opacity: 0.8;
            margin-right: 5px;
            margin-left: -29px;
        }
    }
    .default{
        font-style: italic;
        font-size: 13px;
        color: #00379f;
    }
}
.bm-overlay{
    background-color: rgba(0, 0, 0, 0.2)!important;
}
.bm-menu {
    background: #ffffff;
}
.bm-menu-wrap {
   top: 0px;
   width: 276.5px !important;
}
// .bm-cross-button {
//     height: 24px;
//     width: 24px;
//   }
  .bm-cross {
    background: #bdc3c7;
  }
  .Intersection-43 {
    padding: 167px 0 0px 126px;
}
.list-menu{
    ul{
        text-align: left;
        padding: 0;
        li:hover{
            background-color: #357ced;
            a{
                color: #ffffff;
                span{
                    color: #ffffff;
                }
            }
        }
        a{
            padding: 0 0 0 35.5px;
            text-decoration: none;
            color: black;
            font-size: 13px;
            line-height: 35px;
        }
        span{
            padding: 0 15px 0 0;
        }
    }
}
.bm-burger-button button{
        right: 0px !important;
        left: 325px !important;
        width: 50px !important;
    @media only screen and (max-width:768){
        left: 660px !important;
    }
}